.Languages {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #edeff2;
  width: 100%;
}
.languagesContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 2%;
  padding-right: 2%;
  gap: 6%;
  margin-top: 1%;
  height: 500px;
  width: 250px;
  margin-right: 2%;
  background-color: rgb(70, 130, 180);
}
.languageLabel {
  margin-top: 2%;
  display: flex;
  height: 20px;
  width: auto;
  align-items: center;
  justify-content: space-between;
}

.button-4 {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-4:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.codeSnippetContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  height: 50vh;
  background-color: black;
  margin-right: 3%;
}

.codeSnippetTabbar {
  width: 100%;
  height: 5%;
  background-color: rgb(70, 130, 180);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.codeSnippetTabbarControls {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2%;
  height: 100%;
  width: 100%;
  gap: 1%;
  cursor: pointer;
}

.codeSnippetInsideContainer {
  width: 100%;
  height: 95%;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selectedLanguagesContainer {
  height: 100%;
  width: 15%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.fullscreenIcon {
  width: 22px;
  height: 22px;
}

.selectedLanguage {
  width: 100%;
  margin-top: 1%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
}
.selectedLanguage:hover {
  background-color: rgb(137, 207, 240);
  color: white;
}
.compileContainer {
  height: 100%;
  width: 85%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.left-container {
  position: relative;
  flex: 60%;
  width: 100%;
  height: 100%;
}
.right-container {
  flex: 40%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  background-color: #242424;
  border-left: 3px solid #1f65e6;
  padding: 5px;
}
.input-box {
  flex: 50%;
}
.input-box textarea {
  font-size: 16px;
}
.spinner-box {
  flex: 50%;
  background-color: #242424;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-box img {
  width: 200px;
}
.output-box {
  flex: 50%;
  background-color: #242424;
  overflow-y: auto;
  color: white;
  position: relative;
}
.clear-btn {
  position: absolute;
  bottom: 14px;
  right: 18px;
  width: 80px;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  background-color: #1f65e6;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}
.output-box pre {
  font-size: 15px;
  white-space: pre-wrap;
}
h4 {
  color: #afec3f;
}
#code-inp {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  resize: none;
  background-color: #242424;
  color: whitesmoke;
  padding: 5px;
}
#code-inp:focus {
  outline: none;
}
.run-btn {
  position: absolute;
  bottom: 10px;
  right: 18px;
  width: 80px;
  height: 40px;
  font-size: 22px;
  font-weight: bold;
  background-color: #afec3f;
  border: none;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}
.run-btn:active {
  background-color: #6e9427;
}
.main {
  display: flex;
  height: auto;
}
.prevNextButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50%;
  width: 300px;
  margin-top: 1%;
  height: 50px;
  margin-bottom: 2%;
}
.previousButton {
  display: flex;
  cursor: pointer;
  border: 2px solid rgb(70, 130, 180);
  padding: 10px;
  border-radius: 25px;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 3%;
  height: 100%;
  width: 40%;
  background-color: rgb(70, 130, 180);
  gap: 5%;
  font-family: "Roboto Mono", sans-serif;
  color: white;
  font-size: large;
}
.previousButton:hover {
  background-color: rgb(34, 139, 34);
  border: 2px solid rgb(34, 139, 34);
}

.previousIcon {
  width: 22px;
  height: 22px;
}
