.Home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #edeff2;
}

.questionTabbar {
  display: flex;
  align-items: center;
  background-color: #ff6611;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
}
.questionTabbarInside {
  display: flex;

  height: 20px;
  font-family: "Roboto Mono", sans-serif;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.questionTabbarOption {
  color: white;
  cursor: pointer;
}

.questionTabbarOption:hover {
  color: lightblue;
}
