.createTestoverlay {
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0;
  bottom: 0;
  display: flex;
  width: auto;
  /* align-items: center; */
  justify-content: flex-end;
  z-index: 2;
}
.createTestmodal-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.createTestmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;

  z-index: 9999; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.createTestmodal-inner-content {
  background-color: #edeff2;
  margin-top: 5%;
  border-radius: 10px 10px 10px 10px;
  width: 150vh;
  height: 89vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-right: 2%;
  margin-left: 1%;
  padding: 1%;
  z-index: 3;
  gap: 1%;
  position: relative;
}
.closeCreateModal {
  width: 35px;
  position: absolute;
  height: 35px;
  z-index: 4;
  margin-top: 3%;
  cursor: pointer;
}
.typeofTestModalDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5%;

  height: auto;
}
.testNameChoice {
  background-color: rgb(0, 150, 255);
  width: 350px;
  height: 40px;
  font-size: 20px;
  color: white;
  border: none;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}
.select-selected {
  background-color: black;
}
.testNameValue {
  background-color: black;
}
.testNameValue:hover {
  background-color: white;
  color: black;
}
.createTestName {
  font-size: 23px;
}
.createTestmodalLeftContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3%;
  width: 50%;
  height: 100%;
}
.createTestCollegeNameInputDiv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: auto;
  font-size: 22px;
}
.selectQuestionInputDiv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  height: auto;
  font-size: 22px;
}

.createTestCollegeNameInput {
  width: 350px;
  height: 40px;
  font-size: 20px;
  border: none;
  outline: none;
}
.createTestInviteInputDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: antiquewhite;
}

.createTestInviteOnInputDiv {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background-color: #edeff2;
  font-size: 22px;
  width: 50%;
  height: 80px;
}
.datepicker {
  width: 80%;
  height: 40px;
  font-size: 18px;
  border: none;
  outline: none;
}
.importQuestionFromLibraryDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  font-size: 22px;
}
.importQuestionLibrary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  font-size: 20px;
  width: 50%;
}
.selectQuestionButton {
  width: 40%;
  height: 40px;
  font-size: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}
.selectQuestionButton:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}
.selectedQuestionsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 250px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow-y: scroll;
}
.createTestmodalRightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3%;
  width: 48%;
  height: 100%;
}
.selectCandidatesDiv {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  flex-direction: column;
  font-size: 22px;
  height: 90px;
  width: 100%;
}
.candidateEmailInputDiv {
  height: 40px;
  width: 100%;

  display: inline-flex;
  align-items: center;
}
.addCandidateButton {
  background-color: black;
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}
.addCandidateButton:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
.selectedCandidateContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  font-size: 20px;
  width: 100%;
  height: 30px;

  margin-top: 1%;
}
.selectedCandidateContainer:hover {
  background-color: rgb(0, 150, 255);
  color: white;
}

.selectedCandidatesContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  height: 250px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;
  flex-direction: column;
  overflow-y: scroll;
}
.deleteCandidate {
  font-size: 17px;
  color: darkred;
  cursor: pointer;
}
.or {
  font-size: 30px;
  margin-left: 50%;
}
.uploadCandidateFileDiv {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 320px;
}
.fileuploadButton {
  width: 250px;
  height: 40px;
  font-size: 20px;
  background-color: black;
  color: white;
}
.clearAllButton {
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
}
.uploadCandidateInnerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.createTestButton {
  width: 150px;
  height: 50px;
  font-size: 22px;
  background-color: rgb(15, 82, 186);
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 75%;
  border-radius: 15px;
  color: white;
}
.createTestButton:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
.createTestButton:hover {
  background-color: rgb(0, 150, 255);
}
